{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title' %}LearnIT{% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

<header>
    {% include 'courses/includes/header.html' %}
</header>

{% if breadcrumbs %}
<nav aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item text-light active" aria-current="page">
            {% if breadcrumb.url %}
                <a href="{{ breadcrumb.url }}" class="{% if forloop.last %} text-secondary {% else %} text-warning {% endif %}">{{ breadcrumb.name }}</a>
            {% else %}
                {{ breadcrumb.name }}
            {% endif %}
            </li>
        {% endfor %}
        </ol>
    </div>
</nav>
{% endif %}



{% block 'content' %}
    <div class="container">
        <!-- Test version alert -->
        <div class="alert alert-info mt-3" role="alert">
            {% blocktrans with state="pre-alpha" version="(0.0.1)" %}
            This is a {{ state }} version {{ version }}. Many features are still in development, 
            and data security is not guaranteed. Follow updates on
            {% endblocktrans %}  
            <a href="https://github.com/elvin4/learnit"><i class="bi bi-github"></i> GitHub</a>
        </div>

        <div class="row text-start">
            <div class="col-12">
                <p class="popular-title text-light">{% trans 'Categories' %}</p>
            </div>
        </div>
        <div class="categories">
            {% for category in categories %}
                {% if category.parent_category is None %}
                    {% include 'courses/includes/category_card.html' with category=category %}
                {% endif %}       
            {% endfor %}
            <a href="{% url 'categories' %}">
                <button type="button" class="btn btn-dark m-1 category-button"><i class="bi bi-three-dots"></i></button>
            </a>
        </div>

        <div id="start_video" video_id="5MgBikgcWnY" class="mt-5">
            {% include 'courses/includes/player.html' with videoId='5MgBikgcWnY' %}
            <p class="text-center text-secondary">{% trans 'Watch until the end to hide the video' %}</p>
        </div>
    

        <div class="row text-start">
            <div class="col-12 border-bottom border-warning my-4">
                <p class="other-title text-light"><i class="bi bi-people"> </i>{% trans 'Popular' %}</p>
                <p class="text-secondary">{% trans 'Most popular courses by average number of views' %}</p>
            </div>
        </div>
        <div id="popular_courses">
            {% include 'courses/includes/courses.html' with courses=popular_courses %}
        </div>
        <div class="row text-start">
            <div class="col-12 border-bottom border-warning my-4">
                <p class="other-title text-light"><i class="bi bi-folder-plus"> </i>{% trans 'New' %}</p>
                <p class="text-secondary">{% trans 'Courses with new lessons' %}</p>
            </div>
        </div>
        <div id="new_courses">
            {% include 'courses/includes/courses.html' with courses=new_courses %}
        </div>
    </div>



{% endblock %}

{% include 'courses/includes/footer.html' %}
<button onclick="topFunction()" id="backToTop" title="Go to top"><i class="bi bi-arrow-up"></i></button> 
    

  

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>


</body>
</html>
