{% extends 'courses/base.html' %}

{% load i18n %}
{% load static %}
{% load custom_tags %}

{% block 'content' %}
    <h3 class="mt-3">{{ lesson.name }}</h3>
    {% include 'courses/includes/player.html' with videoId=lesson.video_id %}

    <div class="container">
        <div class="row align-items-center m-3">
          <div class="col-auto">
            {% if lesson.order|add:'-1' > 0%}
              <a href="{{ lesson.order|add:'-1' }}">
                <button class="btn btn-secondary">
                  <i class="bi bi-arrow-left"></i> {% trans "Back" %}
                </button>
              </a>
            {% else %}
            <a href="{% url 'course' lesson.course.slug %}">
              <button class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> {% trans "Exit" %}
              </button>
            </a>
            {% endif %}
          </div>
            <div class="col text-center">
              <a href="{% url 'course' lesson.course.slug %}#{{ lesson.video_id }}">
                <button class="btn btn-transparent text-white"> 
                      {{ lesson.order }}/{{ lesson.course.lessons_count }} 
                      ({{ lesson.order|percentage:lesson.course.lessons_count }}%)
                </button>
              </a>
            </div>
          <div class="col-auto">
            {% if lesson.order|add:1 < lesson.course.lessons_count %}
            <a href="{{ lesson.order|add:1 }}">
              <button class="btn btn-primary">
                {% trans "Next" %} <i class="bi bi-arrow-right"></i>
              </button>
            </a>
            {% else %}
            <a href="{% url 'course' lesson.course.slug %}">
              <button class="btn btn-primary">
                {% trans 'Finish' %} <i class="bi bi-arrow-right"></i>
              </button>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      
  
    {% include 'courses/includes/notepad.html' %}
{% endblock %}