{% extends 'courses/base.html' %}
{% load i18n %}

{% block 'content' %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="card border-info text-bg-dark p-4 shadow-lg">
        <h1 class="my-5 text-center">{% trans 'Have an account?' %}</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <p class="fw-bold" >{{ field.label }}</p>
                <label class="form-label" for="{{ field.id_for_label }}"></label>
                {{ field }}
                <div class="form-text text-danger">{{ field.errors }}</div>
            </div>
            {% endfor %}
            <a class="text-secondary">{% trans 'Forgot password?' %}</a>
            <br>

            <button type="submit" class="btn btn-primary w-100 rounded-pill my-3">Sign in</button>
            <p>{% trans 'New to LearnIT?' %} <a class="text-warning">{% trans 'Create an account' %}</a></p>
        </form>
    </div>
</div>
{% endblock %}  