{% load i18n %}
{% load custom_tags %}
{% load humanize %}

<section class="dark">
    <div class="container py-4">
        <article class="postcard dark yellow">
            <a class="postcard__img_link" href="{% url 'course' course.slug %}">
                <img class="postcard__img" src="{{ course.thumbnail }}" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a href="{% url 'course' course.slug %}">{{ course.name }}</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="2025-02-09 12:00:00">
                        <i class="bi bi-calendar"> </i>{{ course.modified_date }}
                    </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{ course.description|truncatewords:25 }}</div>
                <ul class="postcard__tagbox">
                    <a href="{% url 'category' course.category.slug %}">
                        <li class="tag__item">{{ course.category.name }}</li>
                    </a>
                    {% if not author_page %}
                    <li class="tag__item">
                        <i class="bi bi-person"> </i><a href="{% url 'author' course.author_id %}">{{ course.author }}</a> 
                    </li>
                    {% endif %}
                    <li class="tag__item"><i class="bi bi-binoculars"> </i>{{ course.total_views|intcomma }}</li>
                    <li class="tag__item"><i class="bi bi-book"> </i>{{ course.lessons_count }} {% trans "lessons" %}</li>
                    <li class="tag__item"><i class="bi bi-stopwatch"> </i>{{ course.total_duration|seconds_to_hours }}h</li>
                    <li class="tag__item play blue">
                        <a href="{% url 'course' course.slug %}"><i class="bi bi-collection-play"> </i>{% trans "Start course" %}</a>
                    </li>
                </ul>
            </div>
        </article>
    </div>
</section>