{% load i18n %}
{% load custom_tags %}
{% load humanize %}

    <div class="container py-4">
        <article class="postcard dark red" id="{{ lesson.video_id }}">
            <a class="postcard__img_link" href="{% url 'lesson' course.slug  lesson.order %}">
                <img class="postcard__img" src="{{ lesson.thumbnail }}" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a href="{% url 'lesson' course.slug  lesson.order %}">{{ lesson.name }}</a></h1>
                <div class="postcard__bar"></div>
                <ul class="postcard__tagbox">
                    <li class="tag__item">№{{ lesson.order }}</li>
                    <li class="tag__item"><i class="bi bi-binoculars"> </i>{{ lesson.views|intcomma }}</li>
                    <li class="tag__item"><i class="bi bi-clock"> </i>{{ lesson.duration|seconds_to_minutes }} min</li>
                    <li class="tag__item play blue">
                        <a href="{% url 'lesson' course.slug  lesson.order %}"><i class="bi bi-play"> </i>{% trans "Start lesson" %}</a>
                    </li>
                </ul>
            </div>
        </article>
    </div>