<!-- stat section -->
<div class="row text-center">
    <div class="col-12 border-bottom border-warning my-4">
        <p class="other-title text-light"><i class="bi bi-people"> </i>{% trans 'Stats' %}</p>
    </div>
</div>
<div class="container py-5">
    <div class="row">
        <div class="col-md-4">
            <div class="stat-card">
                <div class="stat-icon">📚</div>
                <div class="stat-value">120</div>
                <div class="stat-label">Курсов</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="stat-card">
                <div class="stat-icon">🏷️</div>
                <div class="stat-value">10</div>
                <div class="stat-label">Категорий</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="stat-card">
                <div class="stat-icon">🎥</div>
                <div class="stat-value">850</div>
                <div class="stat-label">Уроков</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="stat-card">
                <div class="stat-icon">🌍</div>
                <div class="stat-value">3</div>
                <div class="stat-label">Языка</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="stat-card">
                <div class="stat-icon">👤</div>
                <div class="stat-value">150</div>
                <div class="stat-label">Авторов</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="stat-card">
                <div class="stat-icon">⏳</div>
                <div class="stat-value">150 ч</div>
                <div class="stat-label">Общая продолжительность</div>
            </div>
        </div>
    </div>
</div>